* {
	text-decoration: none;
	color: white;
}

body {
	background: linear-gradient(to right, rgb(147, 152, 150), rgb(14, 15, 17));
}
.title {
	text-align: center;
	font-weight: bolder;
	padding: 20px;
	background-color: black;
	opacity: .7;
	
}
.instructions {
	text-align: center;
	font-weight: bolder;
	font-size: 48px;
	padding: 20px;
}
.cards-wrapper {
	display: flex;
	justify-content: space-around;

}
.card {
	cursor: pointer;
	width: 200px;
	height: 277px;
}
.message-wrapper {
	text-align: center;
	font-weight: bolder;
	font-size: 48px;
	padding: 20px;
}
